#ARTICLE {
    position: relative;
    background-color: white;
    color: #333;
    padding: 50px 0 30px 0;

    display: flex;
    justify-content: center;
}

.ARTICLE div, .ARTICLE span {
    font-size: 16px;
}

.article-container {
    margin: 0 150px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.article-north {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.article-south {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.article-tool {
    width: 290px;
    height: 300px;
    padding-top: 18px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.article-tool h3 {
    color: #338e6c;
}

.article-tag-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.article-tag-wrap span {
    margin-bottom: 10px;
}
