.article-carousel-container {
    margin-top: 10px;
    width: 900px;
    height: 506px;
    background-color: #338e6c;
}

.article-carousel-elem {
    width: 900px;
    height: 506px;
}

.article-carousel-elem:hover {
    cursor: pointer;
}
